<style>
  body {
    background: url("../images/nathan-anderson-142192-unsplash.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
</style>

<div class="text-center-container">
  <p>Due Diligence for property hunters</p>
</div>