<div class="login-container">

  <div class="login-options">
    <button>Login</button>
    <button>Sign up</button>
  </div>

  <div class="login-details">
    <form action="/session" method="post">
      <label for="email">email</label>
      <input id="email" type="text" name="email">
      <label for="password">password</label>
      <input is="password" type="password" name="password">
      <button>login</button>
    </form>
  </div>

</div>