<div class="login-container">

  <div class="login-options">
    <a href="/login">Sign in</a>
    <a href="/signup">Sign up</a>
  </div>

  <div class="login-details">
    <form action="/session" method="post">
      <div class="login-fields">
        <input type="text" name="email" placeholder="Email">

        <input type="password" name="password"  placeholder="Password">
  
        <button>Sign in</button>
      </div>
    </form>
  </div>

</div>