<div class="login-container">

  <div class="login-options">
    <a href="/login">Sign in</a>
    <a href="/signup">Sign up</a>
  </div>

  <div class="login-details">
    <form action="/signup" method="post">

      <label for="first_name">First Name</label>
      <input type="text" name="first_name">

      <label for="last_name">Last Name</label>
      <input type="text" name="last_name">
 
       <label for="email">Email</label>
      <input type="text" name="email">

      <label for="password">Password</label>
      <input type="password" name="password">


      <button>Sign up for free</button>
    </form>
  </div>

</div>