/* --- GLOBAL STYLES --- */

body {
  box-sizing: border-box;
  background-color: salmon;
  font-family: 'Arial', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {

}






/* --- NAV BAR --- */

nav {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
  font-size: 1.5em;
  background-color: salmon;
  color: white;
}

nav h1 {
  font-family: 'Cabin', sans-serif;
  font-size: 2.5em;
}

.nav-btn {
  /* border: 1px solid black; */
}



/* --- Other General Styles --- */
.btn-simple {
  background: white;
  border-radius: 3px;
  font-size: 1em;
  box-shadow: 0.1em 0.1em 0.1em #303030;
  padding: 0.3em;
  line-height: 3em;
}

.btn-simple:hover {
  background: rgb(243, 255, 207);
}




.text-center-container {
  position: relative;
  height: 30em;
}

.text-center-container p {
  text-align: center;
  margin: 0 auto;
  font-size: 1.5em;
  color: white;
}





/* --- PROPERTIES LIST --- */

.property-container {
  display: flex;
  border-radius: 0.5em;
  padding: 0.5em 0;
  max-width: 60em;
  margin: 1.5em auto;
  background: white;
  box-shadow: 0 0.125em 0.25em rgba(0,0,0,.2)
}

.property-container .main_img {
  width: 300px;
  display: block;
  padding: 0 0.5em;
}

.property-summary{
  width: 100%;
}

.property-summary h3 {
  font-size: 1.5em;
}

.feature-container {
  /* border: 1px solid black; */
  padding-top: 1em;
  font-size: 0.8em;
}

.feature-icon {
  max-width: 1.5em;
  padding-left: 2em;
}

.feature-icon:first-child {
  padding-left: 0;
}


/* --- SHOW PROPERTY --- */

.main-img {
  max-width: 800px;
}




/* LOGIN MENU */

.login-container {
  height: 30em;
  max-width: 30em;
  margin: 7em auto 0 auto;
  background-color: #e3e3e3
}

.login-options {
  display: flex;
  height: 2.8em;
  justify-content: space-between;
  text-align: center;
  background-color: #77a870;
  color: white;
}

.login-options a:hover {
  background-color: #50754b;
}

.login-options a {
  border: 2px solid #e3e3e3;
  font-size: 1em;
  flex-grow: 1;
  padding: 0.8em 0;
}

.login-options a:last-child {
  border-left: none;
}

.login-details {
  padding: 1.5em;
  margin: 0 auto;
}

.login-fields {
  padding-top: 3em;
}

.login-details label{
  color: #7b7b7b;
  display: block;
  margin-bottom: 0.3em;
}

.login-details form {
  padding-top: 1em;
}

.login-details input {
  width: 96%;
  height: 2em;
  font-size: 1em;
  border: none;
  padding-left: 0.8em;
  margin-bottom: 1em;
}

input:focus {
  outline-width: 2px;
  outline-color: #7b7b7b;
}

.login-details button {
  width: 100%;
  height: 2em;
  font-size: 1em;
  background-color: #c7c7c7;
  color: #7b7b7b;
  margin-top: 1em;
}





/* --- ADD A PROPERTY FORM --- */

.new-form {
  max-width: 40em;
  margin: 0 auto;
}

.new-form input {
  width: 96%;
  height: 2em;
  font-size: 1em;
  border: none;
  padding-left: 0.8em;
  margin-bottom: 1em;
}

.radio-container {
  display: flex;
  flex-wrap: wrap;
}

.radio-container input {
  width: 1em;;
  position: relative;
  top: 9px;
}


/* --- MEDIA QUERIES --- */

@media only screen and (max-width: 500px) {
  body {
  }

  nav h1 {
    font-size: 1.2em;
  }

  .property-container .main_img {
    width: 40vw;
  }

  .property-summary h3 {
    font-size: 1em;
  }

  .main-img {
    width: 100vw;
  }
  .property-container {
    width: 95vw;
  }
  .login-container {
    max-width: 95vw;
    margin-top: 2em;
  }
}





